form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  div {
    max-width: 80%;
    width: 100%;
    input {
      width: 100%;
    }
  }

  .field-error {
    color: red;
    font-size: 12px;
  }
}
