<div class="actions-box">
  <select (change)="filterByType($event)">
    <option [value]="null">Select type</option>
    <option [value]="'Plaintiffs'">Plaintiffs</option>
    <option [value]="'Employee'">Employee</option>
  </select>
  <button [routerLink]="['/', 'create-user']">Agregar</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(item of filteredUsers; track item.id){
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>
        <a [routerLink]="['/', item.id]">Ver</a><button>Editar</button
        ><button (click)="deleteUser(item)">Borrar</button>
      </td>
    </tr>
    }
  </tbody>
</table>

<dialog [open]="showAlert">
  <p>{{ alertDeleteMessage }}</p>
  <form method="dialog">
    <button (click)="showAlert = false">Cancel</button
    ><button (click)="onDeleteConfirm()">OK</button>
  </form>
</dialog>
